.App {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar {
  z-index: 9;
}

.bgColor {
  /* background: rgb(255, 209, 0);
  background: linear-gradient(90deg, rgba(255, 209, 0, 1) 8%, rgba(170, 70, 169, 1) 61%, rgba(119, 0, 255, 1) 86%); */

  background-color: #ffffff;

}

a {
  text-decoration: none !important;
}

.btn {
  /* background: linear-gradient(90deg, rgba(255, 209, 0, 1) 8%, rgba(170, 70, 169, 1) 61%, rgba(119, 0, 255, 1) 86%); */
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  color: white;
  /* font-weight: bold; */
  color: black;
}

body {
  background-image: url(../public/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
}

.bgDiv {
  background-color: #2626269b;
}